.product {
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 64, 50, 0, $containerWidth, 480);
		@include adaptiveValue("padding-top", 27, 18, 0, $containerWidth, 480);
	}
	&__breadcrumbs {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 36, 22, 0, $containerWidth, 480);
		}
	}
}

.about-product {
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 80, 50, 0, $containerWidth, 768);
	}
	@media (min-width: $tablet) {
		display: grid;
		align-items: flex-start;
		gap: toRem(40);
		grid-template-columns: repeat(2, 1fr);
	}
	&__left {
		@media (max-width: $tablet) {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 40, 20, 0, 991.98, 480);
			}
		}
		@media (min-width: $tablet) {
			position: sticky;
			left: 0;
			@include adaptiveValue("top", 110, 80, 0, $containerWidth, 992);
			overflow: hidden;
			display: flex;
			flex-direction: row-reverse;
			align-items: flex-start;
			gap: toRem(14);
		}
	}
	&__slider {
		@media (max-width: $tablet) {
			max-width: toRem(600);
			margin-left: 0;
			margin-right: 0;
			&:not(:last-child) {
				margin-bottom: toRem(20);
			}
		}
		@media (min-width: $tablet) {
			flex-basis: toRem(444);
		}
	}
	&__thumbs {
		@media (min-width: $tablet) {
			@include adaptiveValue("flex-basis", 152, 130, 0, $containerWidth, 992);
			padding-top: toRem(1);
		}
	}
	&__right {
		& > * {
			&:not(:last-child) {
				margin-bottom: toRem(24);
				padding-bottom: toRem(24);
				border-bottom: toRem(1) solid rgba(0, 0, 0, 0.1);
			}
		}
	}
	&__name {
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
	&__actions {
		display: flex;
		gap: toRem(20);
		@media (max-width: $mobileExtraSmall) {
			flex-direction: column;
		}
	}
	&__quantity {
		gap: toRem(35);
		padding: toRem(16) toRem(20);
		.quantity__input {
			flex-basis: toRem(30);
		}
		@media (max-width: $tablet) {
			gap: toRem(16);
			padding: toRem(12) toRem(16);
		}
		@media (min-width: $mobileExtraSmall) {
			@include adaptiveValue("flex-basis", 180, 130, 0, 767.98, 480);
		}
	}
	&__button {
		flex-grow: 1;
	}
}

.slider-product {
	@media (any-hover: hover) {
		&:hover {
			.nav-product-slider__button {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	&:focus {
		.nav-product-slider__button {
			opacity: 1;
			visibility: visible;
		}
	}
	&__pagination {
		display: none;
		position: absolute;
		z-index: 2;
		left: 50%;
		bottom: 6%;
		width: unset;
		transform: translateX(-50%);
		.swiper-pagination-bullet {
			width: toRem(8);
			height: toRem(8);
			background-color: var(--white);
			&:not(:last-child) {
				margin-right: toRem(6);
			}
		}
		.swiper-pagination-bullet-active {
			background-color: var(--primary);
		}
		@media (max-width: $tablet) {
			display: block;
		}
	}
	&__img {
		overflow: hidden;
		aspect-ratio: 444 / 530;
		border-radius: toRem(20);
		background-color: #f0eeed;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

.nav-product-slider {
	&__button {
		position: absolute;
		z-index: 2;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		align-items: center;
		justify-content: center;
		width: toRem(30);
		height: toRem(30);
		opacity: 0;
		visibility: hidden;
		border-radius: 50%;
		background-color: var(--white);
		transition:
			background 0.3s ease-in-out,
			opacity 0.3s ease-in-out,
			visibility 0.3s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--primary);
				svg {
					stroke: var(--white);
				}
			}
		}
		svg {
			width: toRem(20);
			height: toRem(20);
			stroke: var(--primary);
			transition: stroke 0.3s ease-in-out;
		}
	}
	&__button--prev {
		left: 2%;
	}
	&__button--next {
		right: 2%;
		svg {
			transform: rotate(180deg);
		}
	}
}

.thumbs-product {
	@media (min-width: $tablet) {
		@include adaptiveValue("max-height", 530, 370, 0, $containerWidth, 992);
		overflow: hidden;
	}
	&__slide {
		@media (min-width: $tablet) {
			@include adaptiveValue("flex-basis", 167, 110, 0, $containerWidth, 992);
		}
	}
	.swiper-slide-thumb-active {
		.thumbs-product__img {
			border-color: var(--primary);
		}
	}
	&__img {
		overflow: hidden;
		aspect-ratio: 152 / 167;
		border-radius: toRem(20);
		object-fit: contain;
		background-color: #f0eeed;
		border: toRem(1) solid transparent;
		transition: border-color 0.3s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				border-color: var(--primary);
			}
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

.rating-product-about {
	display: flex;
	align-items: center;
	gap: toRem(12);
	&:not(:last-child) {
		margin-bottom: toRem(14);
	}
	&__items {
		display: flex;
		align-items: center;
		gap: toRem(7);
	}
	&__value {
		color: var(--primary);
		span {
			color: rgba(0, 0, 0, 0.6);
		}
	}
}

.price-product-about {
	display: flex;
	align-items: center;
	gap: toRem(12);
	&:not(:last-child) {
		margin-bottom: toRem(20);
	}
	&__current,
	&__old {
		@include adaptiveValue("font-size", 32, 24, 0, $containerWidth, 480);
		font-weight: 700;
	}
	&__old {
		color: rgba(0, 0, 0, 0.3);
		text-decoration-line: line-through;
	}
	&__discount {
		padding: toRem(6) toRem(14);
		border-radius: toRem(20);
		background-color: rgba(255, 51, 51, 0.1);
		color: #f33;
		font-weight: 500;
	}
}

.options-product {
	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(16);
		}
	}
	&__colors,
	&__sizes {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
	&__colors {
		gap: toRem(16);
	}
	&__sizes {
		gap: toRem(12);
	}
}

.tabs-product {
	&__nav {
		position: relative;
		&::after {
			content: "";
			position: absolute;
			z-index: 1;
			right: toRem(-15);
			top: 0;
			display: none;
			width: toRem(70);
			height: 100%;
			pointer-events: none;
			background: linear-gradient(270deg, #fff, hsla(0, 0%, 96%, 0));
			@media (max-width: $mobileSmall) {
				display: block;
			}
		}
		&:not(:last-child) {
			margin-bottom: toRem(22);
		}
	}
	&__list {
		display: flex;
		align-items: center;
		overflow: auto;
		padding-bottom: toRem(10);
	}
	&__item {
		min-width: toRem(200);
		flex: 1 0 auto;
	}
	&__button {
		width: 100%;
		@include adaptiveValue("padding-bottom", 24, 18, 0, $containerWidth, 480);
		border-bottom: toRem(2) solid rgba(0, 0, 0, 0.1);
		color: var(--secondary);
		@include adaptiveValue("font-size", 20, 16, 0, $containerWidth, 480);
		line-height: 1.1;
		transition:
			color 0.3s ease-in-out,
			border-color 0.3s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				color: var(--primary);
			}
		}
		&._tab-active {
			border-color: var(--primary);
			font-weight: 500;
			color: var(--primary);
		}
	}
	&__panel {
		display: none;
		&._tab-active {
			display: block;
		}
	}
}

.reviews-product {
	&__top {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: toRem(15);
		&:not(:last-child) {
			margin-bottom: toRem(24);
		}
	}
	&__title {
		span {
			font-size: toRem(16);
		}
	}
	&__actions {
		display: flex;
		gap: toRem(10);
	}
	&__filter {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 toRem(48);
		width: toRem(48);
		height: toRem(48);
		border-radius: 50%;
		background-color: var(--gallery);
		transition: background 0.3s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--primary);
				svg {
					fill: var(--white);
				}
			}
		}
		svg {
			width: toRem(24);
			height: toRem(24);
			fill: var(--primary);
			transition: fill 0.3s ease-in-out;
		}
	}
	&__items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: toRem(20);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 36, 20, 0, $containerWidth, 480);
		}
		@media (max-width: $mobile) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	&__item {
		&:nth-child(n + 7) {
			display: none;
		}
		@media (max-width: $mobile) {
			&:nth-child(n + 4) {
				display: none;
			}
		}
		&._is-visible {
			display: block;
		}
	}
	&__wrapper-button {
		text-align: center;
	}
	&__button {
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
}
