.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-weight: 500;
	border-radius: toRem(62);
	&--primary {
		color: var(--white);
		background-color: var(--primary);
		transition: opacity 0.3s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.8;
			}
		}
	}
	&--border {
		background-color: transparent;
		border: toRem(1) solid rgba(0, 0, 0, 0.1);
		transition:
			border 0.3s ease-in-out,
			background 0.3s ease-in-out,
			color 0.3s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				color: var(--white);
				border-color: transparent;
				background-color: var(--primary);
			}
		}
	}
	&--decor {
		span {
			display: inline-flex;
			align-items: center;
			gap: toRem(12);
			&::after {
				content: "";
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
			}
		}
	}
	&--py-12 {
		padding-top: toRem(12);
		padding-bottom: toRem(12);
	}
	&--px-16 {
		padding-left: toRem(16);
		padding-right: toRem(16);
	}
	&--py-16 {
		padding-top: toRem(16);
		padding-bottom: toRem(16);
	}
	&--px-20 {
		padding-left: toRem(20);
		padding-right: toRem(20);
	}
	&--px-54 {
		padding-left: toRem(54);
		padding-right: toRem(54);
	}
}

.button-close {
	position: relative;
	@media (any-hover: hover) {
		&:hover {
			&::before,
			&::after {
				background-color: #c9c9c9;
			}
		}
	}
	&::before,
	&::after {
		content: "";
		position: absolute;
		left: 0;
		width: 100%;
		height: toRem(2);
		border-radius: toRem(4);
		background-color: var(--white);
		transition: background 0.3s ease-in-out;
	}
	&::before {
		content: "";
		top: toRem(10);
		transform: rotate(45deg);
	}
	&::after {
		content: "";
		bottom: toRem(8);
		transform: rotate(-45deg);
	}
}
