.color-option {
	&__input {
		width: 0;
		height: 0;
		opacity: 0;
		position: absolute;
		&:focus-visible + .color-option__label {
			box-shadow: 0 0 0 toRem(2) #f33;
		}
		&:checked + .color-option__label {
			&::before {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	&__label {
		position: relative;
		display: inline-block;
		width: toRem(37);
		height: toRem(37);
		border-radius: 50%;
		transition: opacity 0.3s ease-in-out;
		cursor: pointer;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 0;
			visibility: hidden;
			width: toRem(16);
			height: toRem(16);
			background: url("../icons/tick.svg") center no-repeat;
			transition:
				opacity 0.3s ease-in-out,
				visibility 0.3s ease-in-out;
		}
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.8;
			}
		}
		&--brown {
			background-color: #4f4631;
		}
		&--dark-green {
			background-color: #314f4a;
		}
		&--dark-purple {
			background-color: #31344f;
		}
		&--green {
			background-color: #00c12b;
		}
		&--red {
			background-color: #f50606;
		}
		&--yellow {
			background-color: #f5dd06;
		}
		&--orange {
			background-color: #f57906;
		}
		&--light-blue {
			background-color: #06caf5;
		}
		&--blue {
			background-color: #063af5;
		}
		&--purple {
			background-color: #7d06f5;
		}
		&--pink {
			background-color: #f506a4;
		}
		&--white {
			background-color: #fff;
			&::before {
				background: url("../icons/tick-black.svg") center no-repeat;
			}
		}
		&--black {
			background-color: #000;
		}
		&--border {
			border: toRem(1) solid rgba(0, 0, 0, 0.2);
		}
	}
}
