.option {
	&__input {
		width: 0;
		height: 0;
		opacity: 0;
		position: absolute;
		&:focus-visible + .option__label {
			box-shadow: 0 0 toRem(5) #000;
		}
		&:checked + .option__label {
		}
	}
	&__label {
	}
}
