.select {
	min-width: 0;
	position: relative;
	&_reviews-product {
		min-width: toRem(130);
		@media (max-width: $mobile) {
			display: none;
		}
		.select__title {
			border-radius: toRem(62);
			background-color: var(--gallery);
			transition: background 0.3s ease-in-out;
			@media (any-hover: hover) {
				&:hover {
					background-color: #d9d9d9;
				}
			}
		}
		.select__value {
			height: toRem(48);
			padding: 0 toRem(20);
			gap: toRem(20);
			font-weight: 500;
		}
	}
	&_sort-settings {
		min-width: toRem(120);
		.select__value {
			gap: toRem(4);
			font-weight: 500;
			transition: color 0.3s ease-in-out;
			@media (any-hover: hover) {
				&:hover {
					color: var(--secondary);
				}
			}
		}
	}
	&__body {
		position: relative;
	}
	&__title {
		width: 100%;
		color: inherit;
		text-align: left;
		cursor: pointer;
	}
	&__value {
		display: flex;
		min-width: 0;
		align-items: center;
		line-height: 1.2;
		> * {
			flex: 1 1 auto;
		}
		&:after {
			content: "";
			display: flex;
			justify-content: center;
			align-items: center;
			align-self: stretch;
			flex: 0 0 toRem(16);
			background: url("../icons/arrow-down.svg") center no-repeat;
			transition: transform 0.3s ease-in-out;
			._select-open & {
				transform: rotate(-180deg);
			}
		}
		&._select-pseudo-label {
			&::before {
				content: attr(data-pseudo-label);
				opacity: 0.5;
			}
		}
	}
	&__content {
		flex: 1 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	&__text {
		flex: 1 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	&__options {
		position: absolute;
		top: calc(110% - toRem(1));
		border-radius: toRem(8);
		min-width: 100%;
		left: 0;
		background-color: var(--gallery);
		border-top: 0;
		border-top: 0;
		padding: toRem(10) 0 toRem(5) 0;
		font-weight: 500;
	}
	&__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Max height
		max-height: toRem(200);
		// Scrollbar
		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}
	&__option {
		width: 100%;
		text-align: left;
		cursor: pointer;
		padding: 5px 15px;
		color: inherit;
		&._select-selected {
			background-color: #eee;
		}
		@media (any-hover: hover) {
			&:hover {
				background: #d9d9d9;
			}
		}
	}

	&__row {
		display: inline-flex;
		align-items: center;
	}
	&__asset {
	}
	&__text {
	}

	&--show-top {
		.select__options {
			top: auto;
			bottom: calc(100% - toRem(1));
			border: 1px solid #d9d9d9;
			border-bottom: 0;
			border-radius: 4px 4px 0 0;
			padding: 5px 0px 10px 0px;
		}
	}

	&._select-open {
	}
	&._select-disabled {
	}
	&._select-active {
	}
	&._select-focus {
	}
	&._select-multiple {
	}
	&._select-checkbox {
	}
}

._select-tag {
	cursor: pointer;
}
