.section-offset {
	@include adaptiveValue("margin-bottom", 80, 50, 0, $containerWidth, 992);
}

.section-title {
	font-family: $fontSecondary, sans-serif;
	font-weight: 700;
}

.section-title--offset {
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 55, 30, 0, $containerWidth, 992);
	}
}

.section-title--center {
	text-align: center;
}

.section-title--fs-48 {
	@include adaptiveValue("font-size", 48, 32, 0, $containerWidth, 480);
}

.section-title--fs-64 {
	@include adaptiveValue("font-size", 64, 38, 0, $containerWidth, 768);
}

.title {
	font-weight: 700;
	line-height: 1.1;
}

.title--fs-20 {
	@include adaptiveValue("font-size", 20, 16, 0, $containerWidth, 480);
}

.title--fs-24 {
	font-size: toRem(24);
}

.title--fs-32 {
	font-size: toRem(32);
}

.title--fs-36 {
	@include adaptiveValue("font-size", 36, 28, 0, $containerWidth, 768);
}

.text {
	color: var(--secondary);
	line-height: 1.37;
}

.logo {
	font-family: $fontSecondary, sans-serif;
	@include adaptiveValue("font-size", 32, 26, 0, $containerWidth, 480);
	font-weight: 700;
}
